
:root {
  --mainWhite: #f5f5f5f5;
  --mainDark: #333333;
  --mainGreen: #317b22;
  --mainRed: #b80c09;
  --mainBlue: #05668d;
}
body{
    margin: 30px;
    background-color: #f5f5f5;
  }
.budget-feedback,
.expense-feedback {
  display: none;
}

/*budget form style*/
 
 .budget-form{
  padding-top:30px;
 }
  .budget-row {
   /* margin-left: 50px;*/
    vertical-align: center;
  }
  .budget-col{
    border:3px solid #006400;
  }
  .budget-input{
    border:1px solid green;
  }
  .budget-submit{
     border:1.5px solid green;
     margin-bottom: 15px;
  }
  .budget-submit:hover {
  background-color: #4CAF50;
  color: white;
}
/*expense style*/
.expense-amount,
.expense-title {
  color: var(--mainRed);
}

.expense-form{
  padding-top:30px;
}
  .expense-row{
    text-align:center;
  /*  margin-left: 50px;*/
    margin-top: 30px;
  }
  .expense-col{
     border:3px solid #8B0000;
  }
    .expense-submit{
     border:1.5px solid #8B0000;
     margin-bottom: 15px;
  }
  
  .expense-submit:hover {
  background-color: #8B0000;
  color:white;

}
.expense-input{
  border:1px solid #8B0000
}
.fa{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.budget-row{
  text-align: center;
}

.budget-icon,
.expense-icon,
.balance-icon {
  font-size: 2.5rem;
  color: var(--mainBlue);
}
.showItem {
  display: block;
}
.showRed {
  color: var(--mainRed);
}
.showGreen {
  color: var(--mainGreen);
}
.showBlack {
  color: var(--mainDark);
}
.budget-icon,
  .expense-icon,
  .balance-icon {

    font-size: 3.5rem;
    color: var(--mainBlue);

  }
}
.list-item {
  flex: 0 0 33.33%;
  text-align: center;
}
.expense-item {
  height: 2rem;
}

.expense-list{
  margin-top:30px;
  margin-left:4%;

}
